html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    border: 0;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url("bg.jpg");
}
#mainstuff{
width:100%;
height: 100%;
position:fixed;
padding-left: 0px;
padding-right: 0px;
}
canvas {
    width: 100%;
    height: 100%;
    border: 0;
}
#user_playlists{
  height: 100%;
  width:100%;
  background-color: #000;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.btn-default{
  text-align: left;
  border: none !important;
  color: #fff;
  background-color: #000;
  font-family: "Helvetica Neue", Helvetica;
}
#current_tracks.btn-default{
  text-align: right;
}
#current_tracks{
  height: 100%;
  color: white;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000;
  float:right;
}
#visualizer{
  padding-left: 0px;
  padding-right: 0px;
}

#user-profile{
  text-align: center;
  margin-top: 0px;
  position: sticky;
}
/*.login {
    position: absolute;
    right: 10px;
    top: 10px;
    font: 8pt Arial;
    color: rgba(255,255,255,0.33);
}*/
#titleH{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  vertical-align: middle;
  font-size: 25pt;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  height: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}
div.toast {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    transform: translateY(-100px);
    transition: all 1.0s ease-in-out;
    opacity: 0.0;
}

div.toast.visible {
    transform: translateY(0);
    opacity: 1.0;
}

div.toast #text {
    display: block;
    font-size: 25pt;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    color: #fff;
}

div.toast #text2 {
    display: block;
    font-size: 15pt;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    color: #ccc;
}

div.trackposition {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    height: 5px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
}

div.trackposition div.fill {
    transition: width 0.1s ease-in-out;
    background-color: #1ed660;
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 10px;
}
